* {
  font-family: sans-serif;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: min(210px, 35%) 1fr;
}

.sidebar {
  background-color: rgb(68, 150, 222);
}

.sidebar-content {
  padding-top: 13px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12, 1fr);
  color: white;
  width: 100%;
}

.link {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 15px;
  font-weight: 600;
  padding: 3px 20px;
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  height: 35px;
}

.link-lg {
  display: flex;
  padding: 3px 15px;
  gap: 10px;
  align-items: center;
  min-height: 25px;
  font-size: 18px;
  font-weight: 600;
}

.link:hover {
  cursor: pointer;
  background-color: rgb(61, 135, 200);
}

.link-icon {
  height: 15px;
}

.link-icon-lg {
  height: 25px;
}

.title {
  grid-row: 1;
}

.main {
  display: grid;
  grid-template-rows: 120px 1fr;
  overflow: hidden;
}

.heading {
  z-index: 3;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: grid;
  grid-template-columns: max(350px, 50%) 1fr;
  grid-template-rows: 1fr 2fr;
  gap: 20px;
  padding: 0 30px;
}

.heading-left {
  grid-row: 1 / 3;
  display: grid;
  justify-items: start;
  align-content: center;
  gap: 20px;
}

.search,
.user-greeting {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  width: 100%;
}

.search img {
  width: 17px;
  height: auto;
}

.search input {
  border-radius: 50px;
  border: 1px solid #e0e7ee;
  background: #e0e7ee;
  width: clamp(400px, 60%, 700px);
  height: 25px;
  padding: 2px 15px;
  font-family: sans-serif;
}

.search input:focus {
  outline: none;
}

.user-greeting img {
  width: 50px;
  height: auto;
}

.user-info {
  display: grid;
  font-size: 0.8rem;
  align-items: center;
  font-weight: bold;
  height: 40px;
  align-self: center;
}

.heading-right {
  grid-row: 1 / 3;
  display: grid;
  justify-items: end;
  align-content: center;
  gap: 20px;

  grid-template-rows: 1fr 1fr;
}

.profile {
  display: flex;
  flex-direction: row-reverse;
  min-width: 210px;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}

.profile h3 {
  font-size: 1em;
  border-radius: 50px;
  padding: 2px 10px;
}

.profile h3:hover {
  cursor: pointer;
  background: rgb(237, 237, 237);
}

.profile img:nth-of-type(1) {
  height: 35px;
}

.profile img:nth-of-type(2) {
  height: 20px;
}

.actions {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 20px;
}

.actions button {
  background: rgb(68, 150, 222);
  color: white;
  border: none;
  border-radius: 50px;
  height: 28px;
  font-weight: bold;
  font-size: 0.75rem;
  min-width: 75px;
}

.actions button:hover {
  background: rgb(59, 131, 194);
  cursor: pointer;
}

.actions button:active {
  background: rgb(45, 101, 150);
}

.actions button:focus {
  outline: none;
}

.content {
  background-color: #e0e7ee;

  display: grid;
  grid-template-columns: auto 230px;
  gap: 20px;
  padding: 25px 20px;
}

.content h3 {
  margin-bottom: 10px;
}

.content-left {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(3, 180px);
  gap: 15px;
}

.content-right {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.project {
  height: 180px;
  width: 300px;
  background: white;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.card {
  width: 230px;
  height: 255px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 0.75em;
}

.announcement:not(:first-of-type) {
  border-top: 1px solid #d1d1d165;
  margin-top: 5px;
  padding-top: 5px;
}

.announcement p {
  color: #696969;
}

.trending .card {
  padding: 25px;
  align-items: flex-start;
  gap: 20px;
}

.trending-entry {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.trending-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trending-info p {
  color: #545454;
}

.trending img {
  height: 35px;
  border: 1px solid #cccccc56;
  border-radius: 150px;
}

.project::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 100%;
  background: rgb(235, 183, 109);
}
